ipykernel
tqdm
pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
langchain-huggingface
faiss-cpu
langchain-google-genai
pypdf
hf_xet
langchain_experimental
fastembed
matplotlib
ipywidgets
unstructured[all-docs]
pytesseract
pillow
lxml
imagehash
clip
pyvips
langchain-community
langchain_milvus
redis
pymongo
streamlit
sentence-transformers
